@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,500&family=Josefin+Sans&display=swap');

body {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.App {
  background-color: #f8efd4;
  color: #132743;
  padding: 1rem;
}

